fastapi
uvicorn
pandas
python-multipart
unstructured_inference
pypdf
unstructured
pi_heif
pdf2image
pdfplumber
pymupdf
langchain
langchain-text-splitters
python-dotenv
boto3
langchain-community
pymilvus
pypinyin
chromadb
openai
langchain-huggingface
sentence-transformers